* {
  padding: 0;
  margin: 0;
  text-align: center;
}
html,body {
  height:100%;
}

header, nav {
  background-color: #b7a5a5;
  width:100%;
  position: fixed;
  top:0;
}

nav {
  
  margin-top: 22px;
  height:40px;
}

.spacer {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  min-height: 70vh;
}

section {
  width:90%;
  margin-left:5%;
}

article {
  padding: 20px;
}

article *{
  text-align: left;
}

.list {
  margin-left: 100px;
}

footer {
  height: 50px;
  background-color: #222222;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 15px;
}

footer>ul {
  text-align: left;
}

footer li {
  color: #9d9d9d;
  display: inline-block;
  width:100px;
  margin-top: 10px;
  border-left:1px black solid;
}

[class^="box"] {
  overflow: hidden;
  cursor: pointer;
  width: 120px;
  height:300px;
  display: inline-block;
  margin-right: -3px;
}

[data-toggle="tooltip"] {
  cursor: help;
}

[class^="box"]:hover > .appearingInfoBox{
  transform: translateY(-70px);
}

@media (max-width: 768px){
  .navbar-collapse {
    margin-top: -3px;
    width:100%;
  }
  .navbar-collapse.in, .collapsing {
    overflow-y: visible;
  }
  #sub-nav a{
    height:35px;
  }
  #sub-nav li {
    padding-right:0 !important;
  }
  .spacer {
    margin-top: 0;
  }
}

.appearingInfoBox {
  padding-top: 5px;
  background-color: rgba(196, 190, 190,.7);
  color:black;
  text-shadow: 1px 1px #dbd4d4;
  height: 100px;
  transition: .75s;
}

.navbar {
  margin-bottom: 0;
  min-height:0px;
  border-radius: 0;
  overflow: hidden;
  border: 0;
}

#sub-nav {
  margin-top: 0px;
  height: 30px;
  overflow: visible;
}

#sub-nav li{
  padding-right: 10px;
}

#sub-nav a{
  padding: 2px;
}

.nav>li>a {
  padding: 10px 5px;
}

#repositionUp {
  position: relative;
  top:-30px;
}

.board {
  margin: 15% auto;
  width:90%;
  padding: 20px;
  background-color: #dbd4d4;
  border-radius: 10px;
  box-shadow: 2px 2px 8px;
}

.board>p, .board>h3 {
  text-align: left;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
  color: #777;
  background-color: #222222;
}

.navbar-inverse .navbar-nav>li>a {
  background-color: #222222;
}

.navbar-header {
  height: 24px;
}
