 <article>
    <h4>Alarm Response</h4>
    <p>Assisted Alarm Response enables your company to retain responsibility of premise keys whilst providing duty of care to your own designated key holder.</p>
    <p>If an alarm is activated, one of our fully trained and licensed security officers will accompany your designated key holder to the premises. Once on site, the officer will carry out a security patrol looking for signs of an intrusion and take the necessary actions in accordance with ARBSecurities and the clients preferred escalation procedures.</p>
  </article>