<article>
  <h4>Close Protection Operations</h4>
  <p>ARBSecurities boast a wealth of close protection experience.</p>
  <p>All operatives are trained to the highest standards globally.</p>
  <p>Assisted by our Surveillance operatives we can offer a service second to none combined with global mobility that gives ARBSecurities a truly dynamic approach to close protection.</p>
  <p>Rest assured that our thorough threat and vulnerability assessment will quantify the risk posed to the principal and thus allow us to operationally plan the safety, security and comfort throughout the principal's schedule.</p>
  <p>ARBSecurities will liaise with the client regards the needs, wants and expectations of the principal assessing the level of protection required. Our operatives are experts at operating either overtly or covertly to provide the most appropriate service possible.</p>
  <p>Our surveillance operatives can ascertain and provide evidence by means of counter surveillance measures to any hostile surveillance towards the principal. This combined with the operational experience of our close protection operatives enables ARBSecurities to provide all aspects of close protection, with previous operations including:</p>
  <ul class="list">
    <li>Executive protection</li>
    <li>Celebrity protection</li>
  </ul>
</article>