 <article>
  <h4>Event Security </h4>
  <p>We provide the very best security operatives in all aspects of the security industry at all types of events across the UK & Ireland with our head office at Taunton, Somerset,  South West England. Our operators are trained to the highest industry standards. As well as receiving our Main Event in-house training which ensures that they are fully aware and understtand exactly what is expected of them at all times by us and our clients.</p>
  <p>All staff go through a vetting process which complies with BS7858. Our in-house training ensures that all staff can provide a high level of service in all roles. This enures we get the very best workers suitable for whatever security role is required. We offer a broad range of security operators such as:</p>
  <ul class="list">
    <li>Management Teams</li>
    <li>Crowd Management Consultancy</li>
    <li>SIA Licensed Door Supervisors</li>
    <li>SIA Security Guarding</li>
    <li>Security High Risk Response Teams</li>
    <li>Surveillance Teams</li>
    <li>Search Teams</li>
    <li>Safety Stewards</li>
    <li>Close Protection Security</li>
    <li>Front of Stage Pit Teams</li>
    <li>Control Room Operatives</li>
    <li>Traffic Management</li>
    <li>VIP & Backstage</li>

  </ul>
</article>