<section>
  <h3>ARBSecurities is an established security company, gathering experience from a wide range of specialist security sectors</h3>

  <a ui-sref="#" tabindex="1">
    <div class="box01">
      <img src="static1.jpg" alt="">
      <div class="appearingInfoBox">
        <h4>Static Security</h4>
      </div>
    </div>
  </a>
  <a ui-sref="#" tabindex="2">
    <div class="box02">
      <img src="manGuarding.jpg" alt="">
      <div class="appearingInfoBox">
        <h4>Man<br>Guarding</h4>
      </div>
    </div>
  </a>
  <a ui-sref="event-security" tabindex="3">
    <div class="box03">
      <img src="eventSecurity1.jpg" alt="">
      <div class="appearingInfoBox">
        <h4>Event Security</h4>
      </div>
    </div>
  </a>
  <a ui-sref="oil-and-gas" tabindex="4">
    <div class="box04">
      <img src="oilAndGas.jpg" alt="">
      <div class="appearingInfoBox">
        <h4>Oil and Gas</h4>
      </div>
    </div>
  </a>
  <a ui-sref="#" tabindex="5">
    <div class="box05">
      <img src="assetProtection1.jpg" alt="">
      <div class="appearingInfoBox">
        <h4>Asset Protection</h4>
      </div>
    </div>
  </a>
  <a ui-sref="close-protection" tabindex="6">
    <div class="box06">
      <img src="cp.jpg" alt="">
      <div class="appearingInfoBox">
        <h4>Close Protection</h4>
      </div>
    </div>
  </a>
  <a ui-sref="#" tabindex="7">
    <div class="box07">
      <img src="surveillance.jpg" alt="">
      <div class="appearingInfoBox">
        <h4>Surveillance</h4>
      </div>
    </div>
  </a>

  <article>
    <h4 data-toggle="tooltip" title="hooray ">Security Services</h4>
    <p>ARBSecurities is able to offer a wide range of security services to suit your needs.</p>
    <p>The secret of our success lies in the fully integrated approach to both the design and there after the delivery</p>
    <p>Of the security solution, we take real pride delivering the highest levels of services at an affordable and competitive rate</p>
    <p>Man Guarding ARBSecurities provides bespoke manned guarding services to a broad range
      of clients throughout the U.K. We are a security company they ensures each client receives a service that not only reflects their operational and financial requirements but also compliments their corporate culture.</p>
    <p>Our site-based security guards all possess SIA licenses and are rigorously vetted.</p>
    <p>We recognise that our security officers are often the first point of contact for staff and visitors entering our client's premises and thet the manner in which they interact with visitors reflects not only on ARBSecurities but alst the client organisation at whose premises they are assigned. Consequently, we ensure that our employees possess excellent inter-personal skills, take pride in their appearance and deportment to ensure customer satisfaction at all times.</p>
    <ul class="list">
      <li>Fully SIA licensed, CP trained and vetted staff</li>
      <li>National security coverage</li>
      <li>Consultative service package</li>
      <li>Responsive management support</li>
      <li>Employees that are true ambassadors for our clients</li>
    </ul>
    <p><strong>We undertake manned guarding contracts across the UK and deploy fully licensed, quality security guards on single or multiple sites for a diverse range of market sectors</strong></p>
  </article>
 
</section>