<section>
  <h3>ARBSecurities is an established security company, gathering experience from a wide range of specialist security sectors</h3>

  <a ui-sref="#" tabindex="1"><div class="box01"><img src="static1.jpg" alt=""></div></a>
  <a ui-sref="#" tabindex="2"><div class="box02"><img src="manGuarding.jpg" alt=""></div></a>
  <a ui-sref="#" tabindex="3"><div class="box03"><img src="eventSecurity1.jpg" alt=""></div></a>
  <a ui-sref="#" tabindex="4"><div class="box04"><img src="oilAndGas.jpg" alt=""></div></a>
  <a ui-sref="#" tabindex="5"><div class="box05"><img src="assetProtection1.jpg" alt=""></div></a>
  <a ui-sref="#" tabindex="6"><div class="box06"><img src="cp.jpg" alt=""></div></a>
  <a ui-sref="#" tabindex="7"><div class="box07"><img src="surveillance.jpg" alt=""></div></a>

  <article>
    <h4>Security Services</h4>
    <p>ARBSecurities is able to offer a wide range of security services to suit your needs.</p>
    <p>The secret of our success lies in the fully integrated approach to both the design and there after the delivery</p>
    <p>Of the security solution, we take real pride delivering the highest levels of services at an affordable and competitive rate</p>
    <p>Man Guarding ARBSecurities provides bespoke manned guarding services to a broad range
      of clients throughout the U.K. We are a security company they ensures each client receives a service that not only reflects their operational and financial requirements but also compliments their corporate culture.</p>
    <p>Our site-based security guards all possess SIA licenses and are rigorously vetted.</p>
    <p>We recognise that our security officers are often the first point of contact for staff and visitors entering our client's premises and thet the manner in which they interact with visitors reflects not only on ARBSecurities but alst the client organisation at whose premises they are assigned. Consequently, we ensure that our employees possess excellent inter-personal skills, take pride in their appearance and deportment to ensure customer satisfaction at all times.</p>
    <ul class="list">
      <li>Fully SIA licensed, CP trained and vetted staff</li>
      <li>National security coverage</li>
      <li>Consultative service package</li>
      <li>Responsive management support</li>
      <li>Employees that are true ambassadors for our clients</li>
    </ul>
    <p><strong>We undertake manned guarding contracts across the UK and deploy fully licensed, quality security guards on single or multiple sites for a diverse range of market sectors</strong></p>
  </article>
  <article>
    <h4>Mobile Patrols</h4>
    <p>Mobile patrols can provide a cost effective alternative to having a physical security presence outside of business hours.</p>
    <p>Our security officers will arrive at your site in a highly visible, and undertake a full security patrol of your premises at agreed frequencies checking for daage or intrusion. This service includes taking preventative security measures such as locking unsecured windows and doors and preventing potential damage to property by checking for fire and flood hazards.</p>
  </article>
  <article>
    <h4>Alarm Response</h4>
    <p>Assisted Alarm Response enables your company to retain responsibility of premise keys whilst providing duty of care to your own designated key holder.</p>
    <p>If an alarm is activated, one of our fully trained and licensed security officers will accompany your designated key holder to the premises. Once on site, the officer will carry out a security patrol looking for signs of an intrusion and take the necessary actions in accordance with ARBSecurities and the clients preferred escalation procedures.</p>
  </article>
  <article>
    <h4>Event Security </h4>
    <p>We provide the very best security operatives in all aspects of the security industry at all types of events across the UK & Ireland with our head office at Taunton, Somerset,  South West England. Our operators are trained to the highest industry standards. As well as receiving our Main Event in-house training which ensures that they are fully aware and understtand exactly what is expected of them at all times by us and our clients.</p>
    <p>All staff go through a vetting process which complies with BS7858. Our in-house training ensures that all staff can provide a high level of service in all roles. This enures we get the very best workers suitable for whatever security role is required. We offer a broad range of security operators such as:</p>
    <ul class="list">
      <li>Management Teams</li>
      <li>Crowd Management Consultancy</li>
      <li>SIA Licensed Door Supervisors</li>
      <li>SIA Security Guarding</li>
      <li>Security High Risk Response Teams</li>
      <li>Surveillance Teams</li>
      <li>Search Teams</li>
      <li>Safety Stewards</li>
      <li>Close Protection Security</li>
      <li>Front of Stage Pit Teams</li>
      <li>Control Room Operatives</li>
      <li>Traffic Management</li>
      <li>VIP & Backstage</li>

    </ul>
  </article>
  <article>
    <h4>Close Protection Operations</h4>
    <p>ARBSecurities boast a wealth of close protection experience.</p>
    <p>All operatives are trained to the highest standards globally.</p>
    <p>Assisted by our Surveillance operatives we can offer a service second to none combined with global mobility that gives ARBSecurities a truly dynamic approach to close protection.</p>
    <p>Rest assured that our thorough threat and vulnerability assessment will quantify the risk posed to the principal and thus allow us to operationally plan the safety, security and comfort throughout the principal's schedule.</p>
    <p>ARBSecurities will liaise with the client regards the needs, wants and expectations of the principal assessing the level of protection required. Our operatives are experts at operating either overtly or covertly to provide the most appropriate service possible.</p>
    <p>Our surveillance operatives can ascertain and provide evidence by means of counter surveillance measures to any hostile surveillance towards the principal. This combined with the operational experience of our close protection operatives enables ARBSecurities to provide all aspects of close protection, with previous operations including:</p>
    <ul class="list">
      <li>Executive protection</li>
      <li>Celebrity protection</li>
    </ul>
  </article>
  <article>
    <h4>Residential & Estate Security</h4>
    <p>Rest assured that an ARBSecurities residential security team will ensure the security and safety of that residence as well as its assets. We can also offer the meticulous vetting of any staff employed within the residence/estate, diligently performed by our investigators.</p>
  </article>
  <article>
    <h4>Vetting</h4>
    <p>ARBSecurities can provide a stringent pre-employment vetting system which is a fundamental requirement for those wishing to comply with the BS7858(2012) providing peace of mind.</p>
  </article>
  <article>
    <h4>UK Oil & Gas</h4>
    <p>ARBSecurities has extensive experience of working with the UK's leading oil and gas companies. Our customers trust us as a key partner with the expertise and resources to secure assets/sites throughout the UK, from exploration and production to facilities.</p>
    <p>We understand the industry and we are able to draw on our expertise, our proven capabilities in risk assessment and intelligence.</p>
    <p>By understanding the wider challenges of oil and gas industry protection, ARBSecurities assists producers in maintaining and building trust in the security of their assets, reducing operating costs and building stronger reputations by improving the overall business performance.</p>
    <p>ARBSecurities recognise that secure and beneficial solutions come from understanding the challenges of protecting the end-to-end process. Let us help you see the opportunities that exist in the challenge of securing your world.</p>
  </article>
</section>