 <article>
  <h4>Mobile Patrols</h4>
  <p>Mobile patrols can provide a cost effective alternative to having a physical security presence outside of business hours.</p>
  <p>Our security officers will arrive at your site in a highly visible, and undertake a full security patrol of your premises at agreed frequencies checking for daage or intrusion. This service includes taking preventative security measures such as locking unsecured windows and doors and preventing potential damage to property by checking for fire and flood hazards.</p>
</article>